footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    background-color: var(--main-clr-gray-2);
    color: var(--main-clr-white);
}

footer a {
    width: fit-content;
    transition: color var(--tr-s) ease;
}

footer a:hover {
    color: var(--main-clr-yellow);
}

footer > div {
    padding: 0 var(--p-m);
}

footer > .middle {
    border-top: 2px solid var(--main-clr-yellow);
    border-bottom: 2px solid var(--main-clr-yellow);
}

footer > .middle > .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

footer > .middle > .container > div {
    display: flex;
    flex-direction: column;
}

footer > .middle > .container > div > strong {
    padding-bottom: var(--p-m);
}